.jumbotron{
  padding: 10%;
}

footer li {
  display:inline;
  margin:0% 1%;
}

.flag {
  width:30%;
}
#img{
  text-align:center;
  margin-top:2%
}
#top{
  text-align: center;
}

blockquote{
    margin-left: 24.9%;
}

#errorMsg{
  background-color: #F7F4F6;
  display:inline-block;
}
