.row-header{
    margin: 0px auto;
    padding: 0px auto;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.row-footer{
    background-color: #AfAfAf;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron
{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #7986CB;
    color: floralwhite;
}

body{
    padding:50px 0px 0px 0px;
}

.navbar-inverse {
    background: #303F9F;
    color: white;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
}

.errorText{
  outline: 1px red solid;
}

@media only screen and (min-width: 640px){
  #home {
    background: url(/images/BabyHeader.jpg);
    width: 100%;
    background-repeat: no-repeat;
}
