.row-header{
    margin: 0px auto;
    padding: 0px auto;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.row-footer{
    /*background-color: #AfAfAf;*/
    color: white;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    position: fixed;
}

.col-xs-12 {
  color: black;
}


#home {
    /*padding: 70px 30px 70px 30px;*/
    margin: 0px auto;
    background: #7986CB;
    color: floralwhite;
}

body{
    padding:0;
}

.navbar-inverse {
    background: #303F9F;
    color: white;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
}

.errorText{
  outline: 1px red solid;
}


.flag {
  width:25%;
}


@media only screen and (min-width: 980px){
  body{
    background-color: #F7F4F6;
    padding-top: 0;
    margin-top: 0;
  }

  #home .right {
    height:30em;
    background: url(/images/BabyHeader.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    color: black;
    border-bottom: 2px solid black;
  }

  #home {
    background-color: #F7F4F6;
    height: 30em;
    border-bottom: 2px solid black;
  }

  .right {
    margin-left: 10em;
  }
